*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


.col{
    /* border: 1px solid black; */
    background-color: white;
}


.container{
    height: 700px;
    width: 700px;
    border: 1px solid black;
    display: grid;
    border: 18px ridge #0a9dc2;
background: #ffffff;
}

.first{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
.heading{
    font-size: 8rem;
    font-family: 'Rubik Iso', cursive;
    color: white;

}
.second{
    display: flex;
    justify-content: center;
}
#reset{
    width: 100px;
    height: 50px;
    font-family: 'Rubik Iso', cursive;
    font-size: 1.4rem;
    font-weight: 700;

}
.eraser{
    width: 100px;
    height: 50px;
    font-family: 'Rubik Iso', cursive;
    font-size: 1.4rem;
    font-weight: 700;
}
#color_btn{
    display: flex;
    flex-direction: column;
    height: 50px;
    background-color: #000000;
    border: none;
    color: white;
}
.buttons{
    background-color: #0a9dc2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.change_size{
    width: 10%;
    height: 70%;
    font-family: 'Rubik Iso', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20p;
}
html {
    background:
    conic-gradient(#476cff 25%,#0000 0) 0 0/calc(2*32px) calc(32px/9.5),
    conic-gradient(#476cff 25%,#0000 0) 0 0/calc(32px/9.5) calc(2*32px),
    repeating-conic-gradient(#0000 0 25%,#476cff 0 50%) 
     32px 0 /calc(2*32px) calc(2*32px),
    radial-gradient(50% 50%,#474bff 98%,#476cff) 
     0 0/32px 32px;

  }
  
  